* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.h2 {
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
}

.h3 {
    font-family: 'Verdana';
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
    color: #D4D4D4;
    text-transform: uppercase;
}

.page-container {
    max-width: 1280px;
    margin: 0 auto;
}

.page-header {
    padding: 55px 160px 120px;
    color: #D4D4D4;
    background-color: #222222;
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
}

.header-logo {
    margin-right: 60px;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 30px;
    padding: 0;
}

.menu-item a {
    color: #D4D4D4;
    text-decoration: none;
}

.welcome {
    max-width: 255px;
    margin-left: 120px;
}

.welcome-title {
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 30px;
}

.welcome-text {
    margin-bottom: 50px;
} 

.buttun {
    border-radius: 25px;
    border: 0;
    padding: 15px 100px 15px 40px;
    text-transform: uppercase;
}

.header-button {
    color: #111111;
    background-color: #FFCB06;
}

.header-contacts {
    height: 65px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
}

.advantages {
    display: flex;
    color: #ffffff;
    background-color: #222222;
    padding: 0 160px 80px;
    gab: 80px;
}

.align-items {
    flex-grow: 1;
    flex-basis: 0;
}

.content {
    padding: 80px 160px 126px;  
}

.content-top {
    display: flex;
    justify-content: space-between;
    gap: 80px;
}

.content-top-image, .content-top-text {
    flex-grow: 1;
    flex-basis: 0;
}

.content-top-image {
    display: block;
    width: 100%;
    height: auto;
}

.content-heading {
    margin-bottom: 45px;
}

.content-text:not(:last-child) {
    margin-bottom: 25px;
}

.content-bottom {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 50px 0;
}

.content-bottom-one, .content-bottom-two {
    flex-grow: 1;
    flex-basis: 0;
}
.content-list {
    padding: 0;
    list-style-image: url(img/Ellipse 1.png);
    padding-left: 15px;
}

.content-list span {
    font-weight: bold;
}

.content-list li {
    margin-bottom: 20px;
    padding-left: 25px;
}

.page-footer {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding: 60px 160px 90px;
    background-color: #131313;
}

.footer-item {
    flex: 1;
    color: #D4D4D4;
}

.footer-list {
    padding: 0;
    list-style-type: none;
}

.footer-list a {
    color: #888888;
    text-decoration: none;
}

.footer-heading {
    margin-bottom: 15px;
}

.page-footer hr {
    margin-bottom: 60px;
}

.footer-list li:not(:last-child) {
    margin-bottom: 25px;
}

.footer-item:first-child {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    margin-right: 15px;
}

.schedule {
    padding: 100px 160px 90px;
    color: #ffffff;
    background-color: #222222;
}

.schedule-top {
    display: flex;
    gap: 80px;
    margin-bottom: 70px;
}

.schedule-top-heading {
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    color: #FECA30;
}

.schedule-top-text a {
    color: #FECA30;
    text-decoration: none;
    border-bottom: 1px solid #FECA30;
}

.schedule-top-heading, .schedule-top-text {
    flex-grow: 1;
    flex-basis: 0;
}

.schedule table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 700;
}

.schedule th {
    background-color: #111111;
    width: 25%;
    text-align: left;
    padding: 15px;
}

.schedule td {
    width: 25%;
    padding: 15px;
    border-bottom: 1px solid #555555;
}

.register {
    padding: 100px 160px;
    display: flex;
    gap: 80px;
}

.register-text, register-form {
    flex-grow: 1;
    flex-basis: 0;
}

.register h2 {
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 60px;
}

.register p {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.button {
    display: flex;
    align-items: center;
    gap: 60px;
    text-transform: uppercase;
    border-radius: 25px;
    border: 0;
    padding: 15px 25px;
}

.form-button {
    color: #ffffff;
    background-color: #222222;
}

#user, #tel {
    width: 100%;
    margin-bottom: 10px;
    height: 50px;
    padding: 20px;
}

.form-horizontal {
    display: flex;
    margin-bottom: 20px;
    gap: 10px;
}

#height, #weight {
    flex: 1;
    height: 50px;
    padding: 20px;
}

.agree {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#agree {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}